dbt-bigquery>=1.8.0,<2.0.0
astronomer-cosmos>=1.6.0,<2.0.0
apache-airflow-providers-http
google-cloud-bigquery
fastapi
uvicorn
pandas
pendulum
sqlalchemy
requests
pytest
pytest-dbt-adapter
great-expectations
elementary-data
openlineage-airflow
mkdocs
mkdocs-material
sqlfluff
pre-commit
